.container{
    border: 2px solid black;
    text-align: center;
    width: 75%;
    margin: 0 auto;

}

.flex-blackjack-1{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    background-image: url(../images/blackjack.jpg);
    color: #ffffff;
   
}



.flex-blackjack-1 div{
    flex: 1;
    border: 1px solid black;
       
    text-align: center;

}
.flex-blackjack-1 img{
    padding: 10px;
    width: 33.33%;
    height: 50%;
}


.blackjack-btn{
    border: 1px solid black;
    background-image: url(../images/blackjack.jpg);
    text-align: center;
}

.blackjack-you{
    
    
    height:350px;
    flex-wrap: wrap;
}

.table,td,th{
    padding: 5px;
    border: 1px solid black;
    
}




.tbl{
    padding: 10px;
    flex-wrap: wrap;
    margin-left: 40%;
}


    

